@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;300&display=swap');

p h3{
   font-family: 'Exo', sans-serif;
}

h3{
   color: #77B380;
   font-size: 30px;
   font-weight: 200;
}


.img-1{
   text-align: center;
}

.img-2{
   text-align: center;
}

.img-3{
   text-align: center;
}

.img-4{
   text-align: center;
   margin-bottom: 35px !important;
}

.wrapper div{
   margin: 2px;
   padding: 1rem;
   grid-gap: 1rem;
}

.wrapper{
   height: 30vh;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-areas:
   "grunt gulp git npm";
}

.grunt{
   grid-area: grunt;
}

.gulp{
   grid-area: gulp;
}

.git{
   grid-area: git;
}

.npm{
   grid-area: npm;
}

@media screen and (max-width: 768px) {
   .wrapper{
      display: inline;
   }

   .text{
      text-align: center;
   }
}